body  {
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: #424242;
    padding: 2px;
}
.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 43px;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
}
.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
ul{
    display: flex;
   align-items: center;
   justify-content: space-between;

   width: 300px;
   margin-left: 100px;
   list-style-type: none;
}
 ul li {
     margin-right: auto;
     margin-left: auto;
 }
ul a {
    text-decoration: none;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.icons{
    margin-left:80px;
}
.icons a {
    margin: 8px;
    text-decoration: none;
}

.section1{
    background-image: url(/images/pexels-cottonbro-3944406.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 25px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleAndIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}
.section1 h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
     font-size: 4em;
    font-style: italic;
    font-weight: 100;
    margin-right: 17px;
}

.section1 .input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section1 .input input {
    width: 400px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: hidden;
     box-shadow: 1px 2px 8px black;
   
}
.section1 .input button {
     margin-left: 10px;
     width: 100px;
     height: 35px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     border: none;
     cursor: pointer;
     font-style: italic;
     font-size: medium;
     color: white;
     background-color: black;
     letter-spacing: 2px;
     box-shadow: 1px 2px 8px black;
}