body  {
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: #424242;
    padding: 2px;
}
.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 43px;
    width: 1024px;
    margin-right: auto; 
    margin-left: auto;
}
.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
ul{
    display: flex;
   /* align-items: center; */
   justify-content: space-between;

   width: 300px;
   margin-left: 100px;
   list-style-type: none;
}
 ul li {
     margin-right: auto;
     margin-left: auto;
 }
ul a {
    text-decoration: none;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.icons{
    margin-left:80px;
}
.icons a {
    margin: 8px;
    text-decoration: none;
}